{{/*-----------------------------------------------------------------------------------------------
----Given a date and time, return a set of three Cistercian glyphs which represent
----the year, month+day, and hour+minute.
----
----Usage:
----{{ partial "cistercianDateTime.html" (dict "date" .Date "site" .Site) }}
----{{ partial "cistercianDateTime.html" (dict "date" .Date "showdate" true "showtime" true "annotatable" true "site" .Site) }}
----
----Arguments:
----date:         The date to be represented as Cistercian glyphs.
----showdate:     Optional. If true, show the year and month+day glyphs.
----showtime:     Optional. If true, show the hour+minute glyph.
----annotatable:  Optional. If true, show the date and time as annotations to the glyphs.
----*/}}
{{- $annotatable := .annotatable | default false }}
{{- if .showdate | default true }}
{{ partial "cistercian/cistercianContainer.html" (dict "num" (.date.Format "2006") "annotatable" $annotatable "site" .site) }}
{{ partial "cistercian/cistercianContainer.html" (dict "num" (.date.Format "0102") "annotatable" $annotatable "site" .site) }}
{{- end }}
{{- if .showtime | default true }}
{{ partial "cistercian/cistercianContainer.html" (dict "num" (.date.Format "1504") "annotatable" $annotatable "site" .site) }}
{{- end }}